@model IEnumerable<diary.Models.Worker>
@{
    ViewData["Title"] = "AddWorker";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<body>
    <form method="post">
        <label>First Name:</label> <br />
        <input type="text" name="_FirstName" placeholder="First Name" /> <br />
        <br />
        <label>Middle Name:</label> <br />
        <input type="text" name="_MiddleName" placeholder="Middle Name" /> <br />
        <br />
        <label>Last Name:</label> <br />
        <input type="text" name="_LastName" placeholder="Last Name" /> <br />
        <br />
        <label>Email:</label> <br />
        <input type="text" name="_Email" placeholder="Email" /> <br />
        <br />
        <label>Position: </label>
        <select name="_Position_Id">
            @foreach (Position position in @ViewBag.Positions)
            {
                <option value="@position.Id">@position.Name</option>
            }
        </select>
        <br />
        <label>Department: </label>
        <select name="_Departament_id">
            @foreach (Department department in @ViewBag.Departments)
            {
                <option value="@department.Id">@department.Name</option>
            }
        </select>
        <br />
        <label for="type">Hourly Payment: </label>
        <input type="number" name="_HourlyPayment" placeholder="Hourly Payment" />
        <br />
        <br />
        <label>Status:</label>
        <br />
        <input type="text" name="_Status" placeholder="Status" />
        <br />
        <br />
        <input type="submit" value="Send" />
    </form>
</body>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
