@model IEnumerable<diary.Models.Worker>
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <style>
        #tbl {
            width: 100%;
            border: 5px solid black;
        }

        #trTitle {
            background: cornflowerblue;
            border: 5px solid black;
            color: white;
        }

        td {
            font-family: Montserrat;
            font-weight: bold;
        }
    </style>
</head>
<h3>Users</h3>
<table class="table-condensed" border="1" id="tbl">
    <tr id="trTitle">
        <td>Name</td>
        <td>Email</td>
        <td>Position</td>
        <td>Hourly Payment</td>
        <td>Status</td>
        <td>Departament</td>
        <!--if (/*admin || moderator == 1*/)-->
        <!--{
        <td>Money</td>
        <td>Edit!</td>
        <td>Delete!</td>
            }
        -->

    </tr>
    @foreach (var worker in Model)
    {
        <tr>
            <td>@worker.FirstName @worker.MiddlName @worker.LastName</td>
            <td>@worker.Email</td>
            <td>@worker.Position_Id</td>
            <td>@worker.HourlyPayment</td>
            <td>@worker.Status</td>
            <td>@worker.Departament_Id</td>
            <!--if (/*admin || moderator == 1*/)-->
            <!--{
                        <td>worker.Money</td>
                        <td><a href="~/Home/Buy/worker.Id">Buy</a></td>
                        <td><a href="~/Home/Update/worker.Id">Edit</a></td>
                        <td><a href="~/Home/DeleteAnimal/worker.Id">Delete</a></td>
                    
           }
           -->
        </tr>
     }
</table>
<br />
<br />
<br />
