@model IEnumerable<diary.Models.Worker>
@{
    ViewData["Title"] = "Report";
    Layout = "~/Views/Shared/_Master.cshtml";
}
@section Header
    {
    <!DOCTYPE html>
    <html>
    <head>
        <title>@ViewData["Title"]</title>
        <meta charset="utf-8">

        <link href="~/css/Form.css" rel="stylesheet">
    </head>
    <body>
        <div class="header-content">
            <div class="header-content-inner">
                <div class="container">
                    <div class="row">
                        <form class="decor" method="post">
                            <div class="form-left-decoration"></div>
                            <div class="form-right-decoration"></div>
                            <div class="circle"></div>
                            <div class="form-inner">
                                <h3>Add Report</h3>
                                <input type="date" name="date1" placeholder="date1" /> <br />
                                <input type="date" name="date2" placeholder="date2" /> <br />
                                <label>User:</label> <br />
                                <select name="id_user" placeholder="Id User">
                                    @foreach (var w in Model)
                                    {
                                        <option value=@w.Id>@w.FirstName @w.LastName</option>
                                    }
                                </select><br />
                                <input type="submit" value="Send">
                                @if (ViewBag.rez != null)
                                {
                                    <table class="table-condensed" border="1">
                                        <tr id="trTitle">
                                            <td>Заработная плата</td>
                                            <td>Отработано часов</td>
                                        </tr>
                                        <tr>
                                            <td>@ViewBag.rez</td>
                                            <td>@ViewBag.h</td>
                                        </tr>
                                    </table>

                                }
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
}

@section content
    {
   
}